# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [4]:
#code here
# two-samples t-test

df_dragon = df[df["Type 1"]=="Dragon"]["HP"]
df_grass = df[df["Type 1"]=="Grass"]["HP"]

In [5]:
# Set the hypothesis --> we want to aim for H1, so, put the H0 as the opposite 

#H0: mu_HP dragron <= mu_HP grass
#H1: mu_HP dragron > mu_HP grass

#significance level = 0.05

st.ttest_ind(df_dragon,df_grass, alternative="greater")

TtestResult(statistic=3.590444254130357, pvalue=0.0002567969150153481, df=100.0)

####  Null hypothesis is rejected as p-value is less than significant level

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [9]:
df['stats'] = df[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].mean(axis=1)

df_legendary = df[df["Legendary"]==True]["stats"]
df_non_legendary = df[df["Legendary"]==False]["stats"]

In [10]:
# Set the hypothesis

#H0: mu_stats_legendary = mu_stats_non_legendary
#H1: mu_stats_legendary != mu_stats_non_legendary

alpha = 0.05

t_stat, pvalue = st.ttest_ind(df_legendary,df_non_legendary, alternative="two-sided")
pvalue

3.0952457469655477e-52

####  Null hypothesis is rejected as p-value is less than significant level

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [27]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [31]:
from scipy.stats import ttest_ind

In [36]:

# Define coordinates for school and hospital
school_coords = (-118, 37)
hospital_coords = (-122, 34)
# Euclidian distance (D) formula: D = ((x2 - x1)^2 + (y2-y1)^2)^0.5

# Function to calculate Euclidean distance
def euclidean_distance(coord1, coord2):
    return np.sqrt((coord1[0] - coord2[0])**2 + (coord1[1] - coord2[1])**2)

# Calculate distances
df['distance_to_school'] = df.apply(lambda row: euclidean_distance((row['longitude'], row['latitude']), school_coords), axis=1)
df['distance_to_hospital'] = df.apply(lambda row: euclidean_distance((row['longitude'], row['latitude']), hospital_coords), axis=1)

# Define closeness based on the distance threshold of 0.50
distance_threshold = 0.50
df['close_to_school_or_hospital'] = (df['distance_to_school'] < distance_threshold) | (df['distance_to_hospital'] < distance_threshold)

# Divide the dataset into close and far from either a hospital or school
close_houses = df[df['close_to_school_or_hospital'] == True]
far_houses = df[df['close_to_school_or_hospital'] == False]

# H0 :  house value for close houses =  house value for far houses
# H1 :  house value for close houses >  house value for far houses
# Perform a two-sample t-test

t_stat, p_value = ttest_ind(close_houses['median_house_value'], far_houses['median_house_value'], equal_var=False)
print("t-statistic:", t_stat, "p_value:", p_value)
t_stat, p_value
# Conclusion at 5% significance level
if p_value < 0.05:
    print("Reject the null hypothesis: Houses close to a school or hospital are significantly more expensive.")
else:
    print("Fail to reject the null hypothesis: No significant difference in prices between houses close to a school or hospital and those that are not.")

t-statistic: -17.174167998688404 p_value: 5.220018561223529e-05
Reject the null hypothesis: Houses close to a school or hospital are significantly more expensive.